<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
    </head>
<body>

    <header th:replace="layout/plantilla :: header"></header>

    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a>

    <div th:if="${personas != null and !personas.empty}">
        <table border="1">
            <tr>
                <th th:text="#{persona.numeral}"></th>
                <th th:text="#{persona.nombre}"></th>
                <th>[[#{persona.apellido}]]</th>
                <th>[[#{persona.email}]]</th>
                <th>[[#{persona.telefono}]]</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{persona.editar}"></th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{persona.eliminar}"></th>
            </tr>

            <tr th:each="persona,iterador : ${personas}">
                <td th:text="(${iterador.index})+1">#</td>
                <td th:text="${persona.nombre}">Nombre</td>
                <td th:text="${persona.apellido}">Apellido</td>
                <td th:text="${persona.email}">Email</td>
                <td th:text="${persona.telefono}">Telefono</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/editar/} + ${persona.idPersona}" th:text="#{persona.editar}"></a> </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="#{persona.eliminar}"></a> </td>
            </tr>

        </table>
    </div>

    <div th:if="${personas == null or personas.empty}">

    [[#{persona.vacia}]]

    </div>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>